.elementor-708 .elementor-element.elementor-element-454e462a{text-align:center;}/* Start custom CSS */.mg-breadcrumb-title {
display: none;
}

#content {
    padding-top: 30px;
    padding-bottom: 1px;
}/* End custom CSS */